<section class = "TodoSection">
  <div class = "TodoSectionTitle">
    <p class = "TodoSectionTitle-text"> <%= section_title %> </p>
    <p class = "TodoSectionTitle-remainingCount"> <%= todos.completed.count %> / <%= todos.count %> </p>
  </div>
  <ul>
    <% todos.each do |todo| %>
      <li class = "TodoItem">
        <div class = "TodoItem-Container">
          <%= form_with(url: "/todos/#{todo.id}", method: "put") do %>
            <% checked = (todo.completed)? true : false %>
            <%= check_box_tag(:completed, nil, checked, class: "TodoItem-checkbox", onclick: "this.form.submit()") %>
          <% end %>
          <% class_name = (todo.completed)? "TodoDetail-completed" : "TodoDetail" %>
          <p class = <%= class_name %> > <%= todo.todo_text %></p>
          <% if show_due_date %>
            <p class = "TodoDate"> <%= todo.due_date.to_s(:short) %></p>
          <% end %>
          <%= form_with(url: "/todos/#{todo.id}", method: "delete") do %>
            <%= image_submit_tag("TrashIcon.png", class: "TodoItem-delete") %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</section>
